.page-title-bar-04 {
	.title-box {
		padding: 40px 50px 60px;
		border-bottom: 5px solid $color__primary;
	}

	.page-breadcrumb {
		margin-bottom: 30px;
	}

	.title-bar-text {
		margin-top: 20px;
	}
}
