html .mceContentBody {
  max-width: 95%;
}

body {
  color: #486683;
  font: 15px 'Nunito Sans', Helvetica, Arial, 'Nimbus Sans L', sans-serif;
  font-weight: 600;
  line-height: 1.8;
}


h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: 'Heebo', serif;
  font-weight: 800;
  clear: both;
  color: #002345;
  margin: 0 0 18px;
  line-height: 1.23;
}

.editor-post-title__block .editor-post-title__input {
  font-family: 'Heebo', serif;
  font-weight: 800;
  color: #002345;
}

h1,
.wp-block-freeform.block-library-rich-text__tinymce h1 {
  font-size: 56px;
}

h2,
.wp-block-freeform.block-library-rich-text__tinymce h2 {
  font-size: 48px;
}

h3,
.wp-block-freeform.block-library-rich-text__tinymce h3 {
  font-size: 36px;
}

h4,
.wp-block-freeform.block-library-rich-text__tinymce h4 {
  font-size: 24px;
}

h5,
.wp-block-freeform.block-library-rich-text__tinymce h5 {
  font-size: 18px;
}

h6,
.wp-block-freeform.block-library-rich-text__tinymce h6 {
  font-size: 14px;
}

hr {
  margin-bottom: 1.625em;
  height: 1px;
  border: 0;
  background-color: #ccc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
  color: #002345;
}

dd {
  margin: 0 1.5em 1.5em;
}

ol ol ul, ol ul ul, ul ol ul, ul ul ul {
  list-style-type: square;
}

strong {
  font-weight: bolder;
  color: #002345;
}

cite,
em,
i {
  font-style: italic;
}

cite {
  border: 0;
}

big {
  font-size: 131.25%;
}

blockquote, q {
  quotes: "" "";
}

blockquote {
  margin: 50px 0;
  padding-left: 20px;
  font-size: 17px;
  line-height: 1.78;
  border-left: 4px solid #52CBCB;
  position: relative;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 400;
  color: #002345;
}

blockquote .wp-block-quote__citation {
  font-family: 'Heebo', serif;
  font-weight: 800;
  font-style: normal;
  color: #002345;
  font-size: 17px;
}

.wp-block-quote p {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 1rem;
}

.wp-block-quote a {
  text-decoration: underline;
  color: #002345;
}

.wp-block-quote a:hover {
  color: #002345;
  text-decoration: none;
}

.wp-block-quote.is-large, .wp-block-quote.is-style-large {
  border-left: 4px solid #52CBCB;
  padding-left: 30px;
}

.wp-block-quote.is-large.has-text-align-right, .wp-block-quote.is-style-large.has-text-align-right {
  border-right: 4px solid #4cbdcb;
  border-left: none;
  padding-right: 30px;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote {
  border-left: 4px solid #52CBCB;
}

.wp-block-quote.has-text-align-right {
  border-right: 4px solid #4cbdcb;
  border-left: none;
}

.wp-block-pullquote blockquote {
  border-left: 0 !important;
  padding-left: 0 !important;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.wp-block-pullquote blockquote > .editor-rich-text p {
  font-size: 32px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 25px;
}

.wp-block-pullquote .wp-block-pullquote__citation {
  font-style: normal;
  font-family: 'Heebo', serif;
  font-weight: 800;
  font-size: 16px;
  color: #002345;
  text-transform: uppercase;
}

.wp-block[data-align="left"] .wp-block-pullquote blockquote,
.wp-block[data-align="right"] .wp-block-pullquote blockquote {
  font-size: 24px;
}

.mce-content-body {
  line-height: inherit;
}

.wp-block-table__cell-content {
  padding: 0;
}

.mceContentBody blockquote,
.mceContentBody blockquote p {
  font-weight: 400;
  font-style: italic !important;
  font-family: Georgia, 'Bitstream Charter', serif !important;
}

.mceContentBody blockquote em,
.mceContentBody blockquote i,
.mceContentBody blockquote cite {
  font-style: normal;
}

.mceContentBody blockquote cite {
  color: #666;
  text-transform: uppercase;
  letter-spacing: .05em;
  font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.wp-block img {
  padding: 0;
  border: 0;
}

.wp-block-button__link {
  color: #fff;
}

.wp-block-verse pre, pre.wp-block-verse pre,
pre,
.wp-block-freeform.block-library-rich-text__tinymce pre {
  font-size: 15px;
  font-weight: 400;
  overflow: auto;
  margin-bottom: 1.6em;
  padding: 1.6em;
  max-width: 100%;
  background: #eee;
  color: #002345;
  font-family: "Courier 10 Pitch", Courier, monospace;
  line-height: 1.6;
  white-space: pre-wrap;
  
  white-space: -moz-pre-wrap;
  
  white-space: -pre-wrap;
  
  white-space: -o-pre-wrap;
  
  word-wrap: break-word;
}

code,
kbd,
samp,
var,
.wp-block-freeform.block-library-rich-text__tinymce code {
  font-size: 15px;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  background: #f3f4f5;
  color: #002345;
}

abbr,
acronym,
dfn {
  border-bottom: 1px dotted #666;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 1.625em;
}

del {
  color: #333;
}

ins {
  border: 0;
  background: #fff9c0;
  color: #002345;
  text-decoration: none;
}

sup,
sub {
  position: relative;
  height: 0;
  vertical-align: baseline;
  font-size: 10px;
  line-height: 1;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

input[type='text'],
textarea {
  border: 1px solid #dddddd;
  background: #fafafa;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #888888;
}

input[type='text']:focus,
textarea:focus {
  color: #333333;
}

textarea {
  padding-left: 3px;
  width: 98%;
}

input[type='text'] {
  padding: 3px;
}


a,
a em,
a strong,
.wp-block-freeform.block-library-rich-text__tinymce a {
  color: #002345;
  text-decoration: none;
}

b, strong {
  font-weight: 900;
}

a:focus,
a:active,
a:hover,
.wp-block-freeform.block-library-rich-text__tinymce a:hover {
  color: #002345;
  text-decoration: underline;
}


.alignleft {
  display: inline;
  float: left;
  margin-right: 1.625em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.625em;
}

.aligncenter {
  display: block;
  clear: both;
  margin-right: auto;
  margin-left: auto;
}


table {
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
  margin: 0 0 1.5em;
  width: 100%;
}

td, th {
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

table th.empty {
  visibility: hidden;
  border: 0;
  background: none;
}

table tr:nth-child(2n) td {
  background: rgba(0, 0, 0, 0.01);
}


img[class*='wp-image-'] {
  max-width: 97.5%;
  height: auto;
}

img.size-full {
  width: auto;
  
}

img.wp-smiley {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border: 0;
}

p img,
.wp-caption {
  margin-top: .4em;
}

img {
  padding: 6px;
  border: 1px solid #ddd;
}

img.alignleft,
img.alignright,
img.aligncenter {
  margin-bottom: 1.625em;
}

.wp-caption {
  margin-bottom: 1.625em;
  border: 0;
  background: #f8f8f8;
}

.wp-caption img {
  display: block;
  border-color: #f8f8f8;
}

.wp-caption .wp-caption-text,
.wp-caption-dd {
  position: relative;
  padding: 5px 0;
  color: #486683;
  text-align: center;
}

.wp-caption .wp-caption-text:before {
  position: absolute;
  top: 7px;
  left: 10px;
  margin-right: 5px;
  color: #666;
  content: '\2014';
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}

a:focus [class*='wp-image-'],
a:hover [class*='wp-image-'],
a:active [class*='wp-image-'] {
  border-color: #bbb;
  background: #eee;
}

.wp-caption a:focus img,
.wp-caption a:active img,
.wp-caption a:hover img {
  border-color: #ddd;
  background: #fff;
}


.wp-block {
  max-width: 1170px;
}


.wp-block[data-align=full] {
  max-width: calc(100% - 88px);
}


.wp-block[data-align="wide"] {
  max-width: 1370px;
}


.wp-block[data-align="full"] {
  max-width: none;
}

.wp-block-archives,
.wp-block-categories {
  list-style-type: none;
  padding-left: 0 !important;
}

.wp-block-archives ul,
.wp-block-categories ul {
  list-style-type: none;
  padding-left: 0;
}

.wp-block-archives.aligncenter,
.wp-block-categories.aligncenter {
  text-align: center;
}

.wp-block-archives li,
.wp-block-categories li {
  position: relative;
}

.wp-block-archives li a,
.wp-block-categories li a {
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 1.64;
  font-weight: 400;
  padding: 16px 15px 16px 0;
  color: #002345;
}

.wp-block-archives li a:hover,
.wp-block-categories li a:hover {
  color: #52CBCB;
}

.wp-block-button {
  margin: 1rem 0;
}

.wp-block-button.alignleft {
  margin: 0 1rem 1rem 0;
}

.wp-block-button.alignright {
  margin: 0 0 1rem 1rem;
}

.wp-block-button.is-style-outline .wp-block-button__link {
  color: #002345;
  background-color: transparent;
}

.wp-block-button__link {
  background-color: #002345;
  font-size: 18px;
}

.wp-block-cover {
  margin: 1rem 0;
}

[data-align="left"] .wp-block-cover {
  margin: 0 1rem 1rem 0;
}

[data-align="right"] .wp-block-cover {
  margin: 0 0 1rem 1rem;
}

.wp-block-cover p {
  line-height: 1.25;
  font-size: 2rem;
  margin-bottom: 0;
}

.wp-block[data-type="core/cover"][data-align="left"] [data-block], .wp-block[data-type="core/cover"][data-align="right"] [data-block] {
  margin-top: 0;
}

.wp-block-latest-comments__comment-excerpt p {
  margin-top: 10px;
}

.wp-block-latest-comments__comment {
  margin-bottom: 1em;
}

.wp-block-code {
  font-weight: 400;
}

.wp-block-code .block-editor-plain-text {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  color: #002345;
  background: #f3f4f5;
}

.wp-block-latest-comments,
.wp-block-latest-posts {
  padding: 0;
  margin: 0;
}
