.top-bar-09 {
	> .container-fluid {
		@include media-breakpoint-up(md) {
			padding: 0 30px;
		}
		@include media-breakpoint-up(lg) {
			padding: 0 70px;
		}
		@include media-breakpoint-up(xl) {
			padding: 0 100px;
		}
	}

	.top-bar-text {
		a {
			display: inline-block;
		}
	}
}

@include media-breakpoint-down(sm) {
	.top-bar-09 {
		.top-bar-wrap.top-bar-right {
			justify-content: flex-start;
		}
	}
}

