.header-03 {
	.header-wrap {
		display: flex;
		align-items: center;
		@include media-breakpoint-up(md) {
			padding: 0 15px;
		}
		@include media-breakpoint-up(lg) {
			padding: 0 55px;
		}
		@include media-breakpoint-up(xl) {
			padding: 0 85px;
		}
	}

	.header-right {
		flex-shrink: 0;
		justify-self: flex-end;
	}

	.branding__logo {
		display: inline-block;
	}

	.page-navigation {
		flex-grow: 1;

		.menu__container {
			text-align: center;
		}
	}

	.desktop-menu & {
		.menu--primary {
			position: static;
			text-align: center;
		}

		.menu__container {
			> li {

				> a {
					position: relative;

					> .menu-item-wrap {
						> .menu-item-title {
							position: relative;

							&:after {
								transition: width .5s;
								content: '';
								position: absolute;
								right: 0;
								bottom: -2px;
								width: 0;
								height: 2px;
								border-radius: 5px;
								background: red;
							}
						}
					}
				}

				&.current-menu-parent,
				&:hover {
					> a {
						> .menu-item-wrap {
							> .menu-item-title {
								&:after {
									right: auto;
									left: 0;
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}

	.mobile-menu & {
		.branding {
			flex-grow: 1;
		}
	}

	.header-button {
		span {
			font-size: 16px;
		}
	}

	@media screen and (max-width: 1600px) {
		.header-right-more {
			display: block;
		}
		.header-right-inner {
			position: absolute;
			top: 100%;
			left: -3px;
			right: -3px;
			padding: 10px !important;
			box-shadow: 0 15px 40px rgba(0, 0, 0, .09);
			visibility: hidden;
			opacity: 0;
			transform: translateY(30px);
			flex-wrap: wrap;

			> div {
				padding: 10px;
			}
		}
		.header-more-tools-opened & {
			.header-right-inner {
				visibility: visible;
				opacity: 1;
				transform: none;
			}
		}
	}
}

