.widget_calendar {

	#wp-calendar {
		background: #fff;
		margin-bottom: 0;
	}

	.calendar_wrap {
		td, th {
			text-align: center;
			padding: 5px;
		}
	}

	caption {
		font-weight: 800;
		color: $color__heading;
		margin-bottom: 10px;
		font-size: 14px;
		letter-spacing: 3px;
		text-transform: uppercase;
	}

	#today {
		color: #fff;

		a {
			color: inherit;
		}
	}
}
