.tagcloud {
	@extend %clearfix;
	margin: -5px;

	a {
		display: block;
		float: left;
		text-decoration: none;
		font-size: 15px !important;
		background: #fff;
		padding: 3px 10px;
		margin: 5px;
		border: 1px solid #dfdfdf;

		&:hover {
			color: #fff;
			box-shadow: none;
		}
	}
}
