.rtl {
	&.desktop-menu .sm-simple .sub-menu .toggle-sub-menu:before,
	&.desktop-menu .sm-simple .children .toggle-sub-menu:before {
		content: "\f104";
	}

	&.desktop-menu .sm-simple > li > ul {
		left: auto !important;
		right: 0 !important;

		ul {
			right: 100% !important;
			top: 0;
		}
	}

	&.desktop-menu {
		.sm-simple:not(.sm-vertical) .has-mega-menu .mega-menu {
			right: 0;
			left: auto !important;
			width: 100% !important;
		}
	}

	.page-mobile-main-menu {
		.menu-item-wrap {
			text-align: right;
		}

		.toggle-sub-menu:after {
			content: "\f053";
		}
	}
}
