@font-face {
	font-family: 'Heebo';
	src: url('Heebo-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Heebo';
	src: url('Heebo-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Heebo';
	src: url('Heebo-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Heebo';
	src: url('Heebo-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Heebo';
	src: url('Heebo-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
