.section-icon-demo {
	.glyph {
		display: inline-block;
		width: 9em;
		margin: 1em;
		text-align: center;
		vertical-align: top;
		border: 1px solid #eee;
	}

	.glyph-icon {
		padding: 20px;
		display: block;
		font-size: 64px;
		line-height: 1;
		color: $color__heading;
	}

	.class-name {
		background-color: #f7f7f7;
		color: $color__heading;
		padding: 10px;
	}
}
