.tm-office-info {
	&:hover {
		.image {
			transform: translateY(-10px);
			box-shadow: 0 20px 30px rgba(0, 0, 0, 0.09);
		}
	}

	.image {
		@extend %transit;

		img {
			width: 100%;
			height: auto;
		}
	}

	.title {
		font-size: 24px;
		padding: 25px 0 22px;
		margin-bottom: 0;
		border-bottom: 1px dashed #D4D2D2;
	}

	.info {
		padding: 22px 0;

		> div {
			padding: 0 0 0 40px;
			position: relative;

			+ div {
				margin-top: 10px;
			}

			&:before {
				font-size: 16px;
				@extend %FontAwesomeSolid;
				display: block;
				position: absolute;
				top: 5px;
				left: 0;
			}
		}

		.address {
			&:before {
				content: '\f5a0';
			}
		}

		.email {
			&:before {
				content: '\f0e0';
			}
		}

		.phone {
			&:before {
				content: '\f095';
			}
		}
	}

	.link {
		margin-top: 10px;
	}
}
