.post-type-archive-ic_doctor {
	.search-title {
		font-size: 36px;
		margin-bottom: 30px;
		text-align: center;
	}

	.search-form {
		max-width: 800px;
		margin: 0 auto 70px;

		form {
			display: flex;
		}

		button {
			flex-shrink: 0;
		}
	}

	.result-count {
		display: block;
		width: 100%;
		text-align: center;
		margin-bottom: 70px;
	}

	.search-result {
		.doctor-item {
			margin-bottom: 30px;

			.post-item-wrap {
				height: 100%;
			}

			.post-thumbnail {
				margin-bottom: 30px;
			}

			.post-title {
				font-size: 18px;
				margin-bottom: 0;
			}

			.position {
				font-size: 15px;
				font-weight: 400;
				margin-top: 3px;
			}

			.doctor-footer {
				margin-top: 25px;
			}

			.social-networks {
				margin: 0 -10px;

				a {
					@extend %transit2;
					display: inline-block;
					padding: 5px 10px;
					font-size: 18px;
					line-height: 1;
					color: inherit;

					&:hover {
						color: $color__primary;
					}
				}
			}
		}

		&.style-grid-01 {
			.post-item-wrap {
				margin-bottom: 30px;

				&:hover {
					.post-thumbnail {
						img {
							box-shadow: 0 20px 30px rgba(0, 0, 0, 0.08);
							transform: translateY(-10px);
						}
					}
				}

				.post-excerpt {
					margin-top: 15px;
				}

				.post-thumbnail {
					position: relative;

					img {
						@extend %transit;
						width: 100%;
					}
				}

				.social-networks {
					a {
						&:hover {
							color: $color__primary;
						}
					}
				}
			}
		}

		&.style-grid-02 {
			.post-item-wrap {
				margin-bottom: 30px;

				.post-thumbnail {
					img {
						border-radius: 50%;
					}
				}

				.position {
					font-style: italic;
				}

				.post-excerpt {
					margin-top: 9px;
				}
			}
		}

		&.style-grid-03 {
			.post-item-wrap {
				position: relative;

				&:hover {
					.info {
						opacity: 1;
						visibility: visible;
						transform: translateY(0);
					}
				}
			}

			.post-thumbnail {
				position: relative;
				margin-bottom: 0;

				img {
					-webkit-filter: grayscale(100%);
					filter: grayscale(100%);
					width: 100%;
				}

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: $color__secondary;
					opacity: 0.36;
					z-index: 1;
				}
			}

			.info {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				color: #fff;
				z-index: 2;
				padding: 20px;
				@include transit-back;
				display: flex;
				flex-direction: column;
				transform: translateY(-20px);
				opacity: 0;
				visibility: hidden;
			}

			.post-title {
				color: #fff;

				a {
					color: inherit;

					&:hover {
						color: rgba(225, 225, 225, .9);
					}
				}
			}

			.social-networks {
				margin: 0;
				width: 100%;
				text-align: center;
				flex-grow: 1;
				display: flex;
				align-items: center;
				justify-content: center;

				a {
					color: #fff;

					&:hover {
						color: rgba(225, 225, 225, .7);
					}
				}
			}

			.doctor-header {
				width: 100%;
				text-align: center;
			}
		}

		&.style-grid-04 {
			.post-item-wrap {
				background-color: #fff;
				padding: 20px;
				box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
				text-align: center;
				@extend %transit;

				&:hover {
					box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15);
				}
			}

			.post-thumbnail {
				margin-bottom: 24px;
			}

			.position {
				font-weight: 600;
				margin-bottom: 5px;
				color: $color__primary;
			}

			.post-title {
				font-size: 20px;
				margin-bottom: 2px;
			}

			.doctor-header {
				border-bottom: 2px dashed #d8d8d8;
				padding-bottom: 15px;
				margin-bottom: 17px;
			}
		}
	}

	.page-pagination {
		width: 100%;
		text-align: center;
		margin-top: 0;
	}
}

@include media-breakpoint-down(sm) {
	.post-type-archive-ic_doctor {
		.search-form {
			form {
				display: block;
			}

			select {
				margin-bottom: 20px;
			}

			button {
				flex-shrink: 0;
			}
		}
	}
}
